<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/user_auth/css/sign_in_out.css">
    <title>Document</title>
</head>
<body>
    <div id="wrapper">

        <header>
            <link rel="stylesheet" href="user_auth/css/sign_in.css">
            <a href="#"><img src="../static/user_auth/images/logo.png" alt="StyleFlow logo" id="logo"></a>
        </header>
        <main>
            <div id="left">
                <h4 class="to-access">
                    To <span>access</span> 10,000
                    To <span>access</span> 10,000+ Free Styleflow animations, tutorials, materials, and more, <a href="#"><span>sign up</span> right away.</a>
                </h4>
                img#siginill
            </div>
        </main>






    </div>
    
</body>
</html>