<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/user_auth/css/sign_in_out.css">
    <title>Document</title>
</head>
<body>
    <div id="wrapper">

        <header>
            <link rel="stylesheet" href="user_auth/css/sign_in.css">
            <a href="#"><img src="../static/user_auth/images/logo.png" alt="StyleFlow logo" id="logo"></a>
        </header>
        <main>
            <div id="left">
                <h4 class="to-access">
                    To <span>access</span> 10,000+ Free Styleflow animations, tutorials, materials, and more, <a href="#"><span>sign up</span></a> right away.
                </h4>
                <img src="../static/user_auth/images/signup.png" alt="sign up illustration image" id="signup-img">
            </div>
            <div id="container">
                <div id="form-top">
                    <h2 class="create">Create an account</h2>
                    <img src="../static/user_auth/images/icons.png" alt="Brand icons" id="brands">
                </div>
                <div id="separator">
                    <hr>
                    <p>or</p>
                </div>
                <div id="form">
                    <form method="post">
                        <fieldset class="form-input">
                            <legend>First Name</legend>
                            <input type="text" class="inpt-field" placeholder="John">
                        </fieldset>
                        <fieldset class="form-input">
                            <legend>Last Name</legend>
                            <input type="text" class="inpt-field" placeholder="Smith">
                        </fieldset>
                        <fieldset class="form-input">
                            <legend>Email</legend>
                            <input type="email" class="inpt-field" placeholder="johnsmith123@gmail.com">
                        </fieldset>
                        <fieldset class="form-input">
                            <legend>Password</legend>
                            <input type="password" class="inpt-field" placeholder="************">
                        </fieldset>
                        <fieldset class="form-input">
                            <legend>Confirm Password</legend>
                            <input type="password" class="inpt-field" placeholder="************">
                        </fieldset>

                        <input type="submit" id="submit-btn" value="Create account">
                    </form>

                    <p>Already have an account? <a href="#"><span>Login</span></a></p>
                </div>
                <p class="small">By clicking on the button above, you agree to StyleFlow <a href="#"><span>Terms of Service</span> and <span>Privacy Policy.</span></a></p>
            </div>
        </main>






    </div>
    
</body>
</html>