html {
    font-family: 'Poppins', sans-serif;
}

body{   
    margin: 0%;
}

.wrapper{
    display: flex;
    background-color: #E8D2F1;
}

/* codes below were extracted from home app */

#header-top {
    padding: 1em 4em;
    display: flex;
    justify-content: space-between;
    border-bottom: 0px solid hsla(0, 0%, 50%, 0.1);
    box-shadow: 0 0px 15px hsla(0, 0%, 50%, 0.2);
    position: sticky;
    top: 0;
    background-color: hsla(0, 0%, 100%, 1);;
}
#logo {
    width: 16%;
    height: auto;
}

#nav-links {
    font-size: 0.8em;
    line-height: 4em;
    display: flex;
    justify-content: space-around;
    width: 50%;
    color: hsla(0, 0%, 50%, 1);
    font-weight: 500;
}

#auth {
    display: flex;
    justify-content: space-around; 
    width: 34%;
    font-weight: 400;
    align-items: center;
}
#auth a {
    display: inline-block;
    padding: 0.4em 2.5em;
    font-weight: 400;
    margin: auto;
    border-radius: 4px;
}
#log-in {
    color: #8820bb;
    border: 1px solid #8820bb;
    margin: 32px;
}

#signup{
    margin: 32px;
}

.link-btns {
    background-color: #8820bb;
    color: hsla(0, 0%, 100%, 1);
    padding: 0.8em 2.5em;
    border-radius: 4px;
}
a {
    text-decoration: none;
}
li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* codes above were extracted from home app */
.outer-side{
    flex: 5%;
    background-color: #FFFFFF;
}

.left{
    flex: 20%;
    padding: 16px;
    height: 6rem;
    position:sticky;
    top: 6.8rem;
}

.right{
    flex: 70%;
    margin: 0px 4px 0px 0px;
    padding: 16px 64px;
    box-shadow: 4px 0px 4px 0px #FFFFFF;
    background-color: #FFFFFF;
}

.text{
    margin-bottom: 80px;
}

.grid-container{
    display: grid;
    row-gap: 32px;
}

.grid-box{
    
    padding: 32px;
    margin-bottom: -28px;
    margin-left: 0%;
}

h3{
    color: #9E45C6;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 16px;
    margin-right: 4px;
}

.input{
    width: 50%;
}

.screen{
    width: 50%;
    text-align: center;
}

.terminal{
    width: 98.5%;
}

/* .terminal .link-btns{
    padding: 0.4em 2.5em;
    font-weight: 400;
    margin: auto;
    width: 34%;
    float: left;
} */

.button{
    background-color: #8B20BB;
    border-color: #8B20BB;
    height: 53px;
    width: 256px;
    left: 20px;
    top: 20px;
    border-radius: 4px;
    color: white;
}

.center-text{
    text-align: center;
}

/* codes below were extracted from the home app */

footer {
    margin: 0%;
    background-color: #FFFFFF;
}

.footer-details{
    position: relative;
    padding: 2em 2em 0;
}

.bottom-line{
    border-top: 1px solid #8B20BB;
    margin-top: 0;
}
footer #logo {
    position: absolute;
    top: 2em;
    left: 2em;
    width: 200px;
    height: auto;
}

footer div {
    text-align: right;
}
.copyright {
    margin: 4em 0 2em;
    text-align: center;
    color: #808080;
}

footer hr {
    position: absolute;
    transform: rotate(90deg);
    width: 30px;
    left: 50%;
    bottom: 50%;
    margin: 0;
    background-color: #808080;;
    height: 1px;
    border-width: 0;
}
#footer-links {
    position: relative;
    padding: 0;
    display: flex;
    line-height: 50px;
    justify-content: space-between;
}
#footer-links a {
    color: hsla(281, 71%, 43%, 1);
}

/* codes above were extracted from the home app */
.interactivity > h4{
    text-align: center;
    color: #000;
}