{% extends 'home/base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'home/css/faq.css' %}">
{% endblock head %}

{% block main %}

<main>
    <img src="{% static 'home/images/faq_img.svg' %}" alt="Fun and Interactive" id="illustration">
    <div>

    </div>
    <div id="header">FAQs</div>

    <div id="questions">
        <ol>
            <li>Who do I talk to if I have Questions?</li>
            <li>How can I download Styleflow library?</li>
            <li>How can I use basic animations on HTML elements?</li>
            <li>Can I add intensity to my animations?</li>
            <li>How can I report whaen someone has plagiarised my work and upload it?</li>
        </ol>
    </div>

    <div class="spacing3"></div>

    <div>
        <img src="{% static 'home/images/logos/illustration.png' %}" alt="" class="small-logo">
        <h3 class="headings">Who do I talk to if I have Questions?</h3>
    </div>

    <div class="spacing1"></div>

    <div class="answers">
        <p>The best place to receive assistance is in our support forums. If you have a
            private matter to discus simply complete the form on our contact page.
            We willrespond promptly.</p>
    </div>

    <div class="spacing2"></div>

    <div>
        <img src="{% static 'home/images/logos/illustration.png' %}" alt="" class="small-logo">
        <h3 class="headings">How can I download Styleflow library?</h3>
    </div>

    <div class="spacing1"></div>

    <div class="answers">
        <p>To download styleflow library, sign up to styleflow website or sign in if you are already registered.
            Then go to the library page and download the library zip files from the library page.
        </p>
    </div>

    <div class="spacing2"></div>

    <div>
        <img src="{% static 'home/images/logos/illustration.png' %}" alt="" class="small-logo">
        <h3 class="headings">How can I use basic animations on HTML elements?</h3>
    </div>

    <div class="spacing1"></div>

    <div class="answers">
        <p>To use our animations on your projects, you will have to add the library to the same folder’s
            directory.
            Then add the name of the library file “styleflow.css” to the link tag of your html head.
            After this, you can
            then include the different styles to the class of tags you wish to animate.</p>
    </div>

    <div class="spacing2"></div>


    <div>
        <img src="{% static 'home/images/logos/illustration.png' %}" alt="" class="small-logo">
        <h3 class="headings">Can I add intensity to my animations?</h3>
    </div>

    <div class="spacing1"></div>

    <div class="answers">
        <p>Yes! you can add intensity to your animations by adjusting the animations to suit your satisfaction.
        </p>
    </div>

    <div>
        <img src="{% static 'home/images/logos/illustration.png' %}" alt="" class="small-logo">
        <h3 class="headings">How can I report when someone has plagiarised my work and uploaded it?</h3>
    </div>


    <div class="spacing1"></div>


    <div class="answers">
        <p>If someone is claiming your work is their own on StyleFlow, please report the animation and
            provide a link to the original animation so we can verify it.</p>
    </div>

    <div class="spacing2"></div>

</main>



{% endblock main %}