@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Poppins, monospace, sans-serif;
}
header{
    padding: 1.3em;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
    /* margin-bottom: 5em; */
    z-index: 10000;
    position: relative;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.search{
    color: #fff;
    background: #8B20BB;
    padding: .3em;
    border-radius: 40px;
    margin-right: 5em;
    cursor: pointer;
}
.fa-bars{
    color: #8B20BB;
    font-size: 25px;
    margin-top: .5em;
    cursor: pointer;
}
.fa-magnifying-glass{
    margin-right: 1em;
}
.nav{
    background: #fff;
    padding: 2em;
    display: none;
}
.nav ul{
    list-style: none;

}
.nav li{
    margin-bottom: 1.5em;
}
.nav a{
    
    background: #8B20BB;
    padding: .5em;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}
main{
     padding: 3em;
    /* display: flex; */
    /* align-items: center; */
    /* height: 100vh; */
}

.secimg{
    margin-top: -5.5em;
    border-top: 7em solid #fff;
     background-color:#fff;
     z-index: 1;
     position: fixed;
}
.animate-img img{
    width: 35%;
    position: relative;
    left: 30%;
    /* position: fixed; */
}
.sec2{
    margin-top: 15em;
}
section{
    margin-bottom: 2em;
}
main section{
    z-index: -21;
}
section h1{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: .7em;
}
.grid1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .7em;
}
button{
    color: #8B20BB;
    border: 2px solid #8B20BB;
    background: none;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
}
.active{
    background: #8B20BB;
    color: #fff;
}

/* footer */
footer{
    padding: 2em;
    margin-bottom: 0;

}
.pri{
    padding-right: 4em;
    border-right: 2px solid;
    text-decoration: none;
}
.pri1{
    padding-left: 2em;
    text-decoration: none;
}
.footart1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.4em;
}
.footart2{
    text-align: center;
    margin-bottom: .5em;
}
.footart3{
    text-align: center;
    margin-bottom: 0;
}
button:hover{
    background: #8B20BB;
    color: #fff;
}
@media (min-width:700px) {
    .navicon{
        display: none;
    }
    .nav ul{
        display: flex;
        justify-content: space-around;
    }
    /* .loginbtn{
        width: 50px;
        background-color: #8B20BB;
    } */

    .secimg{
        width: 100%;
    }
    .animate-img img{
        width: 25%;
        position: relative;
        left: 40%;
    }
    .grid1anime{
        display: grid;
        grid-template-columns: 1fr;
        gap: .7em;
    }
    .grid3anime{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: .7em;
    }
    .dprow1{
        display: flex;
        justify-content: space-evenly;
    }
    .dprow3{
        display: flex;
        justify-content: space-around;
    }
    .dpscmargin, .sec2{
        margin-top: 19em;
    }
    button{
        color: #8B20BB;
        border: 2px solid #8B20BB;
        background: none;
        padding: 1em;
        border-radius: 5px;
        cursor: pointer;
    }
    button:hover{
        background: #8B20BB;
        color: #fff;
    }
}