*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    padding-top: 10px;
    color: #8B20BB;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

nav{
    /* Menu Bar */
position: absolute;
width: 100%;
height: 136px;
left: 0px;
top: 0px;
justify-content: center;

/* Black 1 */

background: #FFFFFF;
/* Shadow for Header */

box-shadow: 0px 4px 50px rgba(24, 24, 24, 0.15);
}
.nav-button{
    /* Primary Buttons */


width: 150px;
height: 50px;
border: 1px solid #8B20BB;
border-radius: 5px;
background-color: #8B20BB;
color: white;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 19.2px;
line-height: 29px;
/* identical to box height */


/* Black 1 */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.nav-btn{
    /* Primary Buttons */

border: 1px solid #8B20BB;
color: #8B20BB;
border-radius: 5px;
width: 150px;
height: 50px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 19.2px;
line-height: 29px;
/* identical to box height */


/* Black 1 */

/* color: #FFFFFF; */


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.nav li{ 
    text-align: center;
    list-style: none;
    padding: 30px;
    text-decoration: none; 
    display: inline-block;
} 


#intro{

    /* Introduction */
    position: absolute;
    width: 270px;
    height: 40px;
    left: 50%;
    border: 1px solid red;
    /* left: 382px; */
    top: 87px;
    
    /* H04 Bold */
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 34.56px;
    line-height: 52px;
    
    /* Purple 12 */
    
    color: #8B20BB;
    
}

p{

}

.column{
    
    box-sizing: border-box;
    
    position: absolute;
    width: 233px;
    height: 4747px;
    left: 120px;
    top: 129px;
    
    /* Purple 1 */
    
    background: #E8D2F1;
    /* Purple 3 */
    
    border: 1px solid #D8B5E8;
    }

    
#column1{
    /* Text container */
position: absolute;
width: 1034px;
height: 8240px;
left: 358px;
top: 129px;

/* Black 1 */

background: #FFFFFF;
/* Drop Shadow */

box-shadow: 4px 4px 10px 3px rgba(38, 50, 56, 0.15);
}

.column2{
    
box-sizing: border-box;

position: absolute;
width: 233px;
height: 937px;
left: 120px;
top: 4613px;

/* Purple 1 */

background: #E8D2F1;
/* Purple 3 */

border: 1px solid #D8B5E8;
}

.column3{
    
position: absolute;
width: 233px;
height: 1468px;
left: 122px;
top: 5529px;


/* Purple 1 */

background: #E8D2F1;
}

.column4{
    
position: absolute;
width: 233px;
height: 1425px;
left: 120px;
top: 6943px;


/* Purple 1 */

background: #E8D2F1;
}

.foot{
    
    box-sizing: border-box;
    
    position: absolute;
    /* width: 1512px; */
    width: 100%;
    height: 296px;
    left: 0px;
    top: 8730px;
    
    /* Black 1 */
    
    background: #FFFFFF;
    /* Purple 12 */
    
    border: 1px solid #8B20BB;
    }

    
.feedback{
    box-sizing: border-box;
    
    position: absolute;
    width: 100%;
    height: 380px;
    padding: 0px;
    /* left: 0px; */
    /* right: 0px; */
    top: 8350px;
    
    background: #FFFFFF;
    border: 1px solid #8B20BB;
    }

    .tutorial{
        /* Tutorial */
    
        position: absolute;
        width: 168px;
        height: 40px;
        left: 433px;
        top: 335px;
        border: 1px solid red;

        
        /* H04 Bold */
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 34.56px;
        line-height: 52px;
        
        /* Purple 12 */
        
        color: #8B20BB;
        
        }

    h2{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 34.56px;
        line-height: 52px;
    }

    .two{
        position: absolute;
        width: 1040px;
        height: 446px;
        left: 358px;
        top: 977px;
        border: 1px solid red;
    }

.first-one{
    position: absolute;
    width: 1040px;
    height: 446px;
    left: 358px;
    top: 977px;
    border: 1px solid red;
}
        


    .three{
    position: absolute;
    width: 1040px;
    height: 446px;
    left: 358px;
    top: 977px;
    border: 1px solid red;



    /* move right */
    }

    /* .move1{ */
        /* position: absolute; */
        /* width: 1040px; */
        /* height: 446px; */
        /* left: 358px; */
        /* top: 2165px; */
        /* border: 1px solid red; */
    /* } */

    .mover{
    position: absolute;
    width: 1040px;
    height: 446px;
    left: 358px;
    top: 2165px;
    border: 1px solid red;
    }
    

    .move2{
    position: absolute;
    width: 1040px;
    height: 446px;
    left: 358px;
    top: 2165px;
    border: 1px solid red;
    }

    .four{
        /* fade-in */
    position: absolute;
    width: 1040px;
    height: 446px;
    left: 358px;
    top: 2759px;
    border: 1px solid red;
    }

    .five{
            /* fade-out */
    position: absolute;
    width: 1040px;
    height: 446px;
    left: 358px;
    top: 3353px;
    border: 1px solid red;
    }

    .six{
        /* bounce */
    position: absolute;
    width: 1043px;
    height: 594px;
    left: 358px;
    top: 3947px;
    border: 1px solid red;
    }

    .seven{
            
    position: absolute;
    width: 1034px;
    height: 856px;
    left: 358px;
    top: 4669px;

    /* Black 1 */

    background: #FFFFFF;
    /* Drop Shadow */

    box-shadow: 4px 4px 10px 3px rgba(38, 50, 56, 0.15);

    }

.eight{
    
position: absolute;
width: 1034px;
height: 1407px;
left: 358px;
top: 5529px;

/* Black 1 */

background: #FFFFFF;
/* Drop Shadow */

box-shadow: 4px 4px 10px 3px rgba(38, 50, 56, 0.15);
}

    .nine{
        
position: absolute;
width: 1034px;
height: 1424px;
left: 358px;
top: 6942px;

/* Black 1 */

background: #FFFFFF;
/* Drop Shadow */

box-shadow: 4px 4px 10px 3px rgba(38, 50, 56, 0.15);
    }