.wrapper{
    display: flex;
    justify-content: space-between;
}
.search{
    color: #fff;
    background: #8B20BB;
    padding: .3em;
    border-radius: 40px;
    margin-right: 5em;
    cursor: pointer;
}
.fa-bars{
    color: #8B20BB;
    font-size: 25px;
    margin-top: .5em;
    cursor: pointer;
}
.fa-magnifying-glass{
    margin-right: 1em;
}
.nav{
    background: #fff;
    padding: 2em;
    display: none;
}
.nav ul{
    list-style: none;

}
.nav li{
    margin-bottom: 1.5em;
}
.nav a{
    
    background: #8B20BB;
    padding: .5em;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}
main{
     padding: 3em;
    /* display: flex; */
    /* align-items: center; */
    /* height: 100vh; */
}
a#animation {
    color: hsl(281, 71%, 43%);
}
body {
    position: relative;
}

.sec1{
    position: sticky;
    background-color: #fff;
    top: 0;
    border: 1px dotted #fff;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.sticky{
    margin-top: -0.2em;
}

.animate-img{
    display: flex;
    justify-content: center;
}

.secimg{
    border: 1px dotted #fff;
    z-index: 1;
    background-color: rgba(232, 210, 241, 0.4);
    /* position: sticky; */
    /* top: 0; */
    width: 100%;
    padding: 2em;
    padding-top: 4em;
}
.animate-img img{
    width: 15%;
    position: relative;
    /* left: 40%; */
    /* position: fixed; */
}

.sec2{
    margin-top: 8.5em;
}
section{
    margin-bottom: 2em;
}
main section{
    z-index: -21;
}
section h4{
    text-align: center;
    /* font-size: 1.5rem; */
    margin-bottom: .7em;
}
.grid1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .7em;
}
.anime-button{
    color: #8B20BB;
    border: 2px solid #8B20BB;
    background: none;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
}
.active{
    background: #8B20BB;
    color: #fff;
}
.anime-button:hover{
    background: #8B20BB;
    color: #fff;
}

.download-div{
    display: flex;
    justify-content: center;
    border-top: 1px solid #8B20BB;
    flex-direction: column;
    padding: 2.5em;
    text-align: center;
}

.download-btn{
    background-color: #8B20BB;
    color: #fff;
    padding: 0.8em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    width: fit-content;
    border-radius: 0.25em;
    margin: 1em auto;
}

.download-btn button a{
    text-decoration: none;
}

@media (max-width:700px) {
    .anime-button {
        padding: 0.3em 1em;
    }
    
}