{% extends 'user_auth/base.html' %}
{% load widget_tweaks %}


{% block main %}
<div id="container" class="pg-middle">
    <div id="form-top">
        <h2 class="create">Reset Password</h2>
    </div>
    <div id="separator">
        <hr>
    </div>
        <div id="form">
            <form method="POST">
                {% csrf_token %}

                <fieldset class="form-input">
                    <legend>Email Address</legend>
                    {% render_field form.email class="inpt-field" type="email" %}
                </fieldset>
                {% for error in form.email.errors %}
                    <p class="error-msg">{{ error }}</p>
                {% endfor %}

                <input type="submit" id="submit-btn" value="Request Password Reset">
            </form>
            <p class="question">Want to try again? <a href="{% url 'user_auth:signin' %}"><span>Sign in</span></a></p>
        </div>
    </div>
</div>
{% endblock main %}