{% extends 'user_auth/base.html' %}
{% load widget_tweaks %}


{% block main %}
<div id="container" class="pg-middle">
    <div id="form-top">
        <h2 class="create">Reset Password</h2>
    </div>
    <div id="separator">
        <hr>
    </div>
        <div id="form">
            <form method="POST">
                {% csrf_token %}

                <fieldset class="form-input">
                    <legend>New Password</legend>
                    {% render_field form.new_password1 class="inpt-field" type="password" %}
                </fieldset>
                {% for error in form.new_password1.errors %}
                    <p class="error-msg">{{ error }}</p>
                {% endfor %}
                
                <fieldset class="form-input">
                    <legend>Confirm New Password</legend>
                    {% render_field form.new_password2 class="inpt-field" type="password" %}
                </fieldset>
                {% for error in form.new_password2.errors %}
                    <p class="error-msg">{{ error }}</p>
                {% endfor %}
                
                <input type="submit" id="submit-btn" value="Reset Password">
            </form>
        </div>
    </div>
</div>
{% endblock main %}