{% extends 'user_auth/base.html' %}
{% load widget_tweaks %}


{% block main %}
<div id="container" class="pg-middle">
    <div id="form-top">
        <h2 class="create">Reset Password</h2>
    </div>
    <div id="separator">
        <hr>
    </div>
        <div id="form">
            <p>Your password has been reset successfully</p>
        </div>
        <div id="form">            
            <p class="question">You can <a href="{% url 'user_auth:signin' %}"><span>Sign in</span></a> now.</p>
        </div>
    </div>
</div>
{% endblock main %}