{% extends 'user_auth/base.html' %}
{% load widget_tweaks %}


{% block main %}
<div id="container" class="pg-middle">
    <div id="form-top">
        <h2 class="create">Reset Password</h2>
    </div>
    <div id="separator">
        <hr>
    </div>
    <div id="form">
       <p>An email with information to reset your password has been sent to you.</p>
    </div>    
    <div id="form">
        <p>Make sure the email address you submitted belongs to your account and check your spam folder for the email sent.</p>
    </div>
</div>
{% endblock main %}