@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
    --regular-purple: #8b20bb;
    --bg-color: #f8eaff;
    --form-bg-color: hsla(0, 0%, 100%, 1);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 24px;
}

body {
    font-family: Poppins, Calibri;
    background-color: var(--bg-color);
    max-height: 100vh;
}

#wrapper {
    background-color: var(--bg-color);
    width: 63rem;
    /* height: 40.916666666666664rem; */
    margin: auto;
}
a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: black;
}
header a {
    display: inline-block;
    margin-top: 1.5rem;
    margin-left: 5.041666666666667rem;
}
#logo {
    width: 6.0rem;
    height: 2.195rem;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3.3rem 5.125rem;
}
span, .create {
        color:hsla(281, 71%, 43%, 1);
}
#left {
    text-align: left;
    width: 28.5rem;
    height: fit-content;
    margin: auto 0;
}
.to-access {
    margin-bottom: 1.2083333333333333rem;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.6875rem;

}
#signup-img {
    width: 25.0725rem;
    height: 22.7175rem;
}
#container {
    width: 22.333333333333332rem;
    background-color: var(--form-bg-color);
    padding-top: 1.1666666666666665rem;
}
.create {
    font-weight: 600;
    font-size: 1.2022416666666667rem;
    text-align: center;
}
#brands {
    display: block;
    margin: 0.5rem auto;
    height: 1.5rem; /*0.8333333333333334rem;*/
    width: auto;
}
#separator {
    position: relative;
    height: 0.875rem;
}
#separator hr {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    border-width: 0;
    background-color: hsla(0, 0%, 62%, 1);
}
#separator  p {
    position: absolute;
    font-size: 0.7833333333333334rem;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: var(--form-bg-color);
    line-height: 100%;
    padding: 0 7px;
    font-weight: 600;
}
#form {
    padding: 0.25rem 3.3333333333333335rem;
}
#form p {
    text-align: center;
}
form {
    width: 100%;
    margin-bottom: 0.85rem;
}
fieldset {
    margin: 0.5rem 0;
    padding: 0 0 5px;
    border-radius: 4px;
    border: 1px solid hsla(0, 0%, 72%, 1);
}
.inpt-field {
    display: block;
    margin-left: auto;
    padding: 0;
    width: 95%;
    border-width: 0;
    font-size: 0.8rem;
    font-weight: 500;
    background-color: white;
}
.inpt-field:focus {
    outline: 0 !important;
    background-color: white;
}
.question {
    font-size: 0.7rem;
    text-align: center;
}
legend {
    font-size: 0.5833333333333334rem;
    line-height: 0.8333333333333334rem;
    margin-left: 0.5rem;
    font-weight: 600;
    padding: 0 7px;
}
#submit-btn {
    width: 100%;
    height: 2.2083333333333335rem;
    font-size: 0.7999999999999999rem;
    line-height: 100%;
    font-weight: 600;
    color: var(--form-bg-color);
    background-color: var(--regular-purple);
    border-radius: 4px;
    border-width: 0;
}
form + p {
    font-size: 0.7999999999999999rem;
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: #757575;
    margin-bottom: 0.6041666666666666rem;
}
.small {
    font-size: 0.5833333333333334rem;
    text-align: center;
    margin: 0.8333333333333334rem 1.9583333333333335rem;
    line-height: 0.8333333333333334rem;
    font-weight: 600;
    color: #757575;
}
.small a {
    color: #757575;
}
#forgot-pwd {
    text-align: right;
    font-size: 0.5rem;
    font-weight: 600;
    margin-top: 0.3rem;
    margin-bottom: 0.8rem;
}

.alert {
    font-size: 0.8rem;
    line-height: 1rem;
    color: black;
    font-weight: 500;

    width: 100%;
    text-align: center;
    padding: 0.7rem;
}
.alert-success {
    background-color: hsla(120, 73%, 75%, 0.4);
}
.alert-error {
    background-color: hsla(351, 100%, 86%, 0.8);
}
.alert-warning {
    background-color: rgb(255, 255, 208);
}
.error-msg {
    color: hsla(0, 94%, 57%, 1);
    text-align: right;
    font-size: 0.6rem;
    font-weight: 600;
    font-style: italic;
    margin-top: -0.5rem;
}

.pg-middle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

input::placeholder {
    color: hsla(0, 2%, 78%, 0.5);
}


@media screen and (max-width: 1512px) {
    html {
        font-size: 1.5873015873015872vw;
    }
    #wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    * {
        padding: 0;
        border: 0;
        box-sizing: 0;
    }
    html {
        font-size: 4.266666666666667vw; /* This will make the font-size to be 16px when the viewport width is 375px */
    }
    #wrapper {
        width: 100%;
    }
    #left img {
        display: none;
    }
    main {
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
    }
    #left {
        width: 100%;
        margin: 0 auto 1rem;
    }
    #left .to-access {
        text-align: center;
    }
    #container {
        width: 100%;
    }
    header a {
        margin: 0.5rem 2rem;
    }
    #form {
        padding: 1.25rem 1.3333333333333335rem;
    }
    
}
