{% extends 'user_auth/base.html' %}
{% load widget_tweaks %}
{% load static %}


{% block main %}
    <main>
        <div id="left">
            <h4 class="to-access">
                To <span>access</span> 10,000+ Free Styleflow animations, tutorials, materials, and more, <a href="#"><span>sign up</span></a> right away.
            </h4>
            <img src="{% static 'user_auth/images/signin.png' %}" alt="sign in illustration image" id="signup-img">
        </div>
        <div id="container">
            <div id="form-top">
                <h2 class="create">Login to your account</h2>
            </div>
                <div id="form">
                    <form method="POST">
                        {% csrf_token %}

                        <fieldset class="form-input">
                            <legend>Username</legend>
                            {% render_field form.username class="inpt-field" placeholder="j_smith007" type="text" %}
                        </fieldset>
                        {% for error in form.username.errors %}
                            <p class="error-msg">{{ error }}</p>
                        {% endfor %}
                        <fieldset class="form-input">
                            <legend>Password</legend>
                            {% render_field form.password class="inpt-field" placeholder="*******" type="password" %}
                        </fieldset>
                        {% for error in form.password.errors %}
                        <p class="error-msg">{{ error }}</p>
                        {% endfor %}
                        <div id="forgot-pwd"><a href="{% url 'password_reset' %}"><span>Forgot password?</span></a></div>

                        <input type="submit" id="submit-btn" value="Login">
                    </form>
                    

                    <div id="separator">
                        <hr>
                        <p>or</p>
                    </div>
                    <img src="{% static 'user_auth/images/icons.png' %}" alt="Brand icons" id="brands">
                    <p class="question">Don't have an account? <a href="{% url 'user_auth:signup' %}"><span>Sign up</span></a></p>
                </div>
            </div>
        </div>
    </main>
{% endblock main %}
