{% extends 'user_auth/base.html' %}
{% load widget_tweaks %}
{% load static %}



{% block main %}
<main>
    <div id="left">
        <h4 class="to-access">
            To <span>access</span> 10,000+ Free Styleflow animations, tutorials, materials, and more, <a href="#form"><span>sign up</span></a> right away.
        </h4>
        <img src="{% static 'user_auth/images/signup.png' %}" alt="sign up illustration image" id="signup-img">
    </div>
    <div id="container">
        <div id="form-top">
            <h2 class="create">Create an account</h2>
            <img src="{% static 'user_auth/images/icons.png' %}" alt="Brand icons" id="brands">
        </div>
        <div id="separator">
            <hr>
            <p>or</p>
        </div>
        <div id="form">
            <form method="POST">
                {% csrf_token %}

                <fieldset class="form-input">
                    <legend>Username</legend>
                    {% render_field form.username class="inpt-field" placeholder="j_smith007" type="text" %}
                </fieldset>
                {% for error in form.username.errors %}
                <p class="error-msg">{{ error }}</p>
                {% endfor %}

                <fieldset class="form-input">
                    <legend>First Name</legend>
                    {% render_field form.first_name class="inpt-field" placeholder="John" type="text" %}
                </fieldset>
                {% for error in form.first_name.errors %}
                    <p class="error-msg">{{ error }}</p>
                {% endfor %}

                <fieldset class="form-input">
                    <legend>Last Name</legend>
                    {% render_field form.last_name class="inpt-field" placeholder="Smith" type="text" %}
                </fieldset>
                {% for error in form.last_name.errors %}
                    <p class="error-msg">{{ error }}</p>
                {% endfor %}

                <fieldset class="form-input">
                    <legend>Email</legend>
                    {% render_field form.email class="inpt-field" placeholder="johnsmith123@gmail.com" type="email" %}
                </fieldset>
                {% for error in form.email.errors %}
                <p class="error-msg">{{ error }}</p>
                {% endfor %}

                <fieldset class="form-input">
                    <legend>Password</legend>
                    {% render_field form.password1 class="inpt-field" placeholder="*******" type="password" %}
                </fieldset>
                {% for error in form.password1.errors %}
                <p class="error-msg">{{ error }}</p>
                {% endfor %}

                <fieldset class="form-input">
                    <legend>Confirm Password</legend>
                    {% render_field form.password2 class="inpt-field" placeholder="*******" type="password" %}
                </fieldset>
                {% for error in form.password2.errors %}
                <p class="error-msg">{{ error }}</p>
                {% endfor %}

                <input type="submit" id="submit-btn" value="Create account">
            </form>

            <p>Already have an account? <a href="{% url 'user_auth:signin' %}"><span>Sign in</span></a></p>
        </div>
        <p class="small">By clicking on the button above, you agree to StyleFlow <a href="{% url 'home:t_n_c' %}"><span>Terms of Service</span></a> and <a href="{% url 'home:privacy_policy' %}"><span>Privacy Policy.</span></a></p>
    </div>
</main>
{% endblock main %}
