{% extends 'home/base.html' %}

{% load static %}

{% block head %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleFlow.css' %}">

{% endblock head %}

{% block main %}

<section class="sec1">
    <div class="secimg">
        <div class="animate-img">
            <img src="{% static 'images/Animation Card with Logo for Animation Page.png' %}" alt="styleflow-logo-black" class="img">
        </div>
    </div>
</section>
<main>
        <div class="dprow1">
        <section class="sec2">
            <article>
                <h4>Static Animation</h4>
            </article>
            <article class="grid1 grid1anime">
                <button class="move_up anime-button">Move up</button>
                <button class="move_down anime-button">Move down</button>
                <button class="move_right anime-button">Move right</button>
                <button class="move_left anime-button">Move left</button>
            </article>
        </section>

        <section class="dpscmargin">
            <article>
                <h4>Bling Animation</h4>
            </article>
            <article class="grid1 grid1anime">
                <button class="beat_ anime-button">Beat</button>
                <button class="bounce_ anime-button">Bounce</button>
                <button class="fade_in anime-button">Fade In</button>
                <button class="fade_out anime-button">Fade Out</button>
            </article>
        </section>

        <section class="dpscmargin">
            <article>
                <h4>Rotate Animation</h4>
            </article>
            <article class="grid1 grid1anime">
                <button class="rotate_up anime-button">Rotate Up</button>
                <button class="rotate_right anime-button">Rotate Right</button>
                <button class="rotate_down anime-button">Rotate Down</button>
                <button class="rotate_left anime-button">Rotate Left</button>
            </article>
        </section>
       </div>
        <section>
            <article>
                <h4>Special Animation</h4>
            </article>
            <article class="grid1">
                <button class="rubber_band anime-button">Rubber band</button>
                <button class="surprise_ anime-button">Surprise</button>
                <button class="shake_ anime-button">Shake</button>
                <button class="wobble_ anime-button">Wobble</button>
                <button class="jelly_ anime-button">Jelly</button>
                <button class="pulse_ anime-button">Pulse</button>
            </article>
        </section>

        
        <section>
            <article>
                <h4>Other Animations</h4>
            </article>
            <article class="grid1 grid3anime">
                <button class="hinge_ anime-button">Hinge</button>
                <button class="roll_in anime-button">Roll In</button>
                <button class="roll_out anime-button">Roll Out</button>
                <button class="jack_in anime-button">JackInTheBox</button>
                <button class="shake_x anime-button">ShakeX</button>
                <button class="shake_y anime-button">ShakeY</button>
                <button class="swing_ anime-button">Swing</button>
                <button class="bounce_in anime-button">Bounce In</button>
                <button class="bounce_out anime-button">Bounce Out</button>
                <button class="flip_ anime-button">Flip</button>
                <button class="zoom_out anime-button">Zoom Out</button>
                <button class="zoom_in anime-button">Zoom In</button>
            </article>
        </section>
        
    </main>
    <div class="download-div">
    
        {% if user.is_authenticated %}
            <p>Click Button Below To Download Library</p>      
            <a href="{% static 'css/styleflow.zip' %}" class="download-btn" download>Download library</a>
        {% else %}
            <p>Sign up to get full access to the tools needed to customize, edit, and add animations to your projects.</p>
            <a href="{% url 'user_auth:signup' %}" class="download-btn">Get Started</a>
        {% endif %}

    </div>

{% endblock main %}

{% block script %}

    <script type="text/javascript" src="{% static 'js/animation.js' %}"></script>

{% endblock script %}